{% extends 'base.html' %}

{% block title %}Документ{% endblock %}

{% block body %}
    <div id="headerName"><h1>
        <a href="{{ url_for('documents_page') }}">РискАналитик</a>
    </h1></div>
    <div id="topsidebar"><h1>    
    </h1></div>
    <div id="topFindSidebar"><h2>
        <a href="{{ url_for('documents_page') }}">Поиск Дела</a>
    </h2></div>
    <div id="topHomeSidebar"><h2>
        Помощь
    </h2></div>
    <div id="rightsidebar">
        <ul class="nav nav-pills nav-fill flex-column">
            {% for doc in documents %}
            <li class="nav-item">
                {% if doc.id == cur_doc.id and doc.instance == 1 %}
                    <button class="button-75Active" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Первая инстанция</span></button>
                {% endif %}
                {% if doc.id == cur_doc.id and doc.instance == 2 %}
                    <button class="button-75Active" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Апелляция</span></button>
                {% endif %}
                {% if doc.id == cur_doc.id and doc.instance == 3 %}
                    <button class="button-75Active" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Кассация</span></button>
                {% endif %}
                {% if doc.id == cur_doc.id and doc.instance == 4 %}
                    <button class="button-75Active" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Вторая кассация/Надзор</span></button>
                {% endif %}
                {% if doc.id != cur_doc.id and doc.instance == 1 %}
                    <button class="button-75NonActive" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Первая инстанция</span></button>
                {% endif %}
                {% if doc.id != cur_doc.id and doc.instance == 2 %}
                    <button class="button-75NonActive" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Апелляция</span></button>
                {% endif %}
                {% if doc.id != cur_doc.id and doc.instance == 3 %}
                    <button class="button-75NonActive" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Кассация</span></button>
                {% endif %}
                {% if doc.id != cur_doc.id and doc.instance == 4 %}
                    <button class="button-75NonActive" href="{{ url_for('document_page', doc_id=doc.id.replace('/', '_')) }}" role="button"><span class="text">Вторая кассация/Надзор</span></button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <h3><b><u>Категория дела: </b></u>{{ category.name }}</h3>
        <h3><b><u>Требования по делу: </b></u>{{ cur_doc.req_detail }}</h3>
        <h3><b><u>Обстоятельства по делу: </b></u>{{ cur_doc.cond_detail }}</h3>
        <h3><b><u>Решение по делу: </b></u>{{ deal_solution }}</h3>
        <h3><b><u>Решение по данной инстанции: </b></u>{{ doc_solution }}</h3>
    </div>
    <div id="leftcontent">
        {{ text }}
    </div>
    <script src="../static/js/statistics_script.js"></script>
{% endblock %}